
.pc_quick{ display: block;}
.pc{display: block;}
.mb{display: none;}



/* slider_animation */
@keyframes rotate_image{
	100% {
		transform: rotate(360deg);
	}
}


/* header */
#header{ position: fixed; top: 0; left: 0; width: 100%; z-index: 1;}
#header p{ text-align: center; padding: 20px 0; position: relative;}
#header.active{ background:rgba(253, 253, 253, 1);}

/* footer */
.footer_address { color: #646464; font-size: 22px; line-height: 40px;}
.capyright { padding: 62px 0 76px 0; background: #171717; min-width: 1648px;}
.text-center { text-align: center !important;}
.con-img { display: block; margin-left: auto; margin-right: auto; text-align: center;}
.content { width: 1648px; margin: auto; position: relative;}
.footer_line { width: 100%; height: 2px; margin: 38px 0 30px 0; background: url(/img/footer_line.jpg) repeat-x;}
.footer_menu { display: flex;}
.footer_menu .menu_box { display: flex; align-items: center;}
.footer_menu .footer_lnb { display: flex; margin-bottom: 8px; height: 40px;}
.footer_menu .footer_lnb > li { display: flex; align-items: center;}
.footer_menu .footer_lnb > li > a { font-size: 18px; color: #fff;}
.footer_menu .footer_lnb > li::after { content: ""; display: flex; width: 2px; height: 21px; margin: 0px 23px; background-color: #fff;}
.footer_menu .footer_lnb > li:last-child::after { display: none;}
.footer_address.pc span{margin-right: 40px;}




/* pc slider */
.swiper.img_slider{ display: none;}
.swiper { width: 100%; height: 100%;}
.swiper-slide { text-align: center; font-size: 18px; background: #fff; display: flex; justify-content: center; align-items: center;}
.swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover;}
.section2{ margin-top:120px; position:relative; display: flex; justify-content: space-between;}
.section2_bg{ position: absolute; left:0px; bottom:0px; width: 584px; height: 614px;}
.section2_bg .section2_bg_box{ position:relative; width: 100%; height:100%;}
.section2_bg .section2_visual{ position:absolute; left:0px; top:0px; width: 644px; height: 510px; background: url(../img/section02_bg.png) center no-repeat; z-index:1;}
.section2_bg .loop_box{ position: relative; }
.menu_slide{ overflow: hidden; margin-left:auto; /*width: 1060px;*/ width:930px; padding-bottom:120px;}
.menu_slide_btn{ width: 1060px; height: 1px; position:absolute; right:-64px; top:240px;}
.menu_slide .swiper-slide img{max-width:100%}
.menu_slide_btn .swiper-button-next{ width: 27px; height: 52px; background: url(../img/section02_next.png) center no-repeat;}
.menu_slide_btn .swiper-button-next::after{display: none;}
.menu_slide_btn .swiper-button-prev{ width: 27px; height: 52px; background: url(../img/section02_prev.png) center no-repeat;}
.menu_slide_btn .swiper-button-prev::after{display: none;}

/* pc_quick_bar */
.quick_menu { position: fixed;  height: 350px;  z-index: 9; right: 0px; bottom: 50%; transform: translateY(50%); display: block; flex-direction: column; background:#f4f4f4;border-radius: 20px;}
.quick_menu  li {text-align: center; border-bottom: 1px solid #ddd; padding: 10px 0;display: block;  }
.quick_menu.jbFixed{ position:fixed; /*top:300px;*/ bottom: 180px;}
.quick_menu  li:nth-child(5), .quick_menu  li:last-child{ border:none;}
.quick_menu  a{color:#fff;font-weight:bold}

/* scrolltop */
#scrollToTopBtn { position: fixed; bottom: 10px; right: 20px; padding: 10px 13px; background-color: #184f9a; color: white; border: none; border-radius: 5px; cursor: pointer; display: none; /* 초기에는 버튼을 숨김 */ box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); font-size: 16px; border-radius: 50px; opacity: .6;}
#scrollToTopBtn:hover { background-color: #0056b3;}



/* #quick{display:flex; width:350px; position:fixed; top:50%; right:-270px; z-index:10; transition:right 0.3s linear; transform:translateY(-50%);}
#quick.open{right:0;}
#quick .quickIcon{display:inline-flex; flex-wrap:wrap; align-content:flex-start; width:80px; font-size: 0;}
#quick .quickIcon li{width:100%; height:auto;}
#quick .quickIcon li a, #quick .quickIcon li button{display:block; width:100%; height:auto; box-sizing:border-box; cursor:pointer;}
#quick .quickIcon li img{width:100%; height:auto;}
#quick .snsBox{display:inline-flex; flex-wrap:wrap; align-content:flex-start; width:270px; position:relative;}
#quick .snsBox .boxItem{width:100%; height:320px; background:#fff; position:absolute; top:0; left:0; z-index:1;}
#quick .snsBox .boxItem .itemTitle{width:100%; height:50px; text-align:center; font-size:24px; font-weight:800; letter-spacing:-0.025em; line-height:50px; background:#19d26b; color:#fff;}
#quick .snsBox .boxItem .snsList{display:flex; flex-wrap:wrap; align-content:flex-start; width:100%; height:calc(100% - 50px); padding:15px 20px 0 15px;}
#quick .snsBox .boxItem .snsList li{width:100%; height:50px; border:1px solid #19d26b; box-shadow:1px 1px 3px rgba(0,0,0,.35); background:#fff;}
#quick .snsBox .boxItem .snsList li + li{margin-top:12px;}
#quick .snsBox .boxItem .snsList li a{display:flex; align-items:center; justify-content:center; width:100%; height:100%; font-size:22px; font-weight:400; letter-spacing:-0.05em; line-height:1; color:#000;}
#quick .snsBox .boxItem .snsList li a p{display:inline-block; margin-right:25px;}
#quick .snsBox .boxItem .snsList li a p strong{font-weight:700;}
#quick .snsBox .boxItem .snsList li a i{display:inline-block; width:35px; height:33px; background-image:url("../img/naver_icon.png"); background-repeat:no-repeat; background-position:center center; background-size:cover;}
#quick .snsBox .boxItem.kakao .itemTitle{background:#4d3132; color:#fff100;}
#quick .snsBox .boxItem.kakao .snsList li{border-color:#4d3132;}
#quick .snsBox .boxItem.kakao .snsList li a i{background-image:url("../img/kakao_icon.png");}
#quick .snsBox .boxItem.open{z-index:2;} */






/* 태블릿 */
@media (max-width: 1024px){
    .section2_bg .section2_visual{ padding-left:15px;}
  }


/* 모바일 */
@media (max-width: 768px){

    #quick{display: none;}
    .pc{display: none;}
    .mb{display: block;}
    .pc_quick{ display: none;}

    .bg_pl{ box-sizing: border-box; padding-right: 15px; background: #5e7795;}
    .flex_box{ padding: 0 15px;}
    .con-img{ padding: 0 15px;}
    .content{ width: 100%;}

    /* slider */
    .swiper.img_slider{ display: block;}
    .slider_wrap{ padding: 0 15px;}
    .swiper-pagination-bullet-active{ background: #184f9a;}

    /* header img */
    #header img{ width: 36%;}
    #header p{padding: 10px 0;}
    .section2{/* display: none; */}

    /* footer */
    .capyright{ min-width: 100%;}
    .capyright .con-img img{ width: 100%;}
    footer{background: #171717;}
    .footer_menu .footer_lnb{ display: flex; margin-bottom:8px; height: 40px;}
    .footer_menu .footer_lnb > li > a{ font-size: 14px; color:#fff;}
    .footer_menu .footer_lnb > li{ display: flex; align-items: center;}
    .footer_menu .footer_lnb > li:last-child::after{ display: none;}
    .footer_menu .footer_lnb > li::after{ content:""; display: flex; width: 2px; height: 21px; margin:0px 10px; background-color: #fff;}
    .footer_address{ color:#646464; font-size:18px; line-height: 30px;}
    .footer_address.mb{ font-size: 16px;}
    .footer_address span{ font-size:16px; line-height: 16px; letter-spacing: -1px;}
    .footer_box .line{ margin:18px 0; width: 100%; height: 10px;}

    /* footer-btn */
    .footer-btn { width: 100%; display: grid; grid-template-columns: repeat(4, 1fr); position: fixed; bottom: 0; box-shadow: 0 0 10px 2px rgba(0, 0, 0, .15); z-index: 999;}
    .footer-btn .m-quick { background: #184f9a; font-family: 'pretendard'; color: #fff; display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 5px; border-right: solid 1px rgba(255, 255, 255, .25); padding: 10px 0; font-size: 1rem; font-weight: 500;}
    .footer-btn .m-quick img { width: 20%;}


    /* scrolltop */
    #scrollToTopBtn { position: fixed; bottom: 100px; right: 20px; padding: 10px 10px; background-color: #184f9a; color: white; border: none; border-radius: 5px; cursor: pointer; display: none; /* 초기에는 버튼을 숨김 */ box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); font-size: 16px; border-radius: 50px; opacity: .6;}
    #scrollToTopBtn:hover { background-color: #0056b3;}

    


}